body {
    background-color: rgb(15, 15, 15);
    color: white;

    header {
        max-width: 850px;
        margin: 0 auto;
        padding: 20px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;

        .search-container {
            @include container(700px);
            position: relative;
            margin-right: 10px;

            .mainLabel {
                color: gray;
                position: absolute;
                top: 17px;
                left: 20px;
                transition: all 0.15s;
                pointer-events: none;
            }

            input[type="text"] {
                max-width: 700px;
                width: 100%;
                padding: 15px 20px;
                margin-right: 10px;
                border-radius: 50px;
                border: none;
                outline: none;
                background-color: rgb(31, 31, 31);
                color: white;
                border: 2px solid rgb(31, 31, 31);
                transition: all 0.15s;

                &:focus {
                    border: 2px solid #2980B9;
                }

                &:focus~.mainLabel,
                &:valid~.mainLabel {
                    top: -8px;
                    background-color: rgb(15, 15, 15);
                    border-radius: 5px;
                    color: #2980B9;
                }

                &:focus~#search-btn {
                    border: 2px #2980B9 solid;
                    border-left: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &:hover {
                        background-color: #2980B9;
                        color: white;
                        border-radius: 50%;
                    }
                }


            }

            #search-btn {
                position: absolute;
                top: 0;
                right: 0;
                padding: 15px 15px;
                border-radius: 5px;
                border: none;
                background-color: rgb(31, 31, 31);
                color: #FFFFFF;
                cursor: pointer;
                border: 2px solid rgb(31, 31, 31);
                transition: all 0.1s;
                font-weight: 600;
                border-radius: 50%;
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:hover {
                    background-color: #2980B9;
                    color: white;
                    border-radius: 50%;
                }
            }
        }

        #current-location {
            padding: 15px;
            border-radius: 50%;
            background-color: rgb(31, 31, 31);
            border: 2px solid rgb(31, 31, 31);
            color: white;
            cursor: pointer;
            transition: all 0.15s;

            &:hover {
                background-color: #2980B9;
            }

            &:active {
                background-color: #1f6a9c;
                font-size: 12px;
                padding: 16px;
            }
        }

    }

    .s1 {
        padding: 20px;

        .s1-container {
            @include container(1000px);
            margin-top: 100px;

            .weather-card {
                @include container(400px);
                height: 50px;
                background-color: rgb(31, 31, 31);
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                transition: all 0.2s;
                cursor: pointer;

                @keyframes open {
                    from {
                        height: 50px;
                    }

                    to {
                        height: 500px;
                    }
                }

                &:hover {
                    transform: scale(1.05);
                    background-color: rgb(41, 41, 41);
                }

                .weather-indicator {
                    .rainy {
                        width: 200px;
                        margin: 0 auto;
                        display: block;
                        animation-name: am-weather-rain;
                        animation-play-state: paused;
                    }

                    @keyframes am-weather-rain {
                        0% {
                            stroke-dashoffset: 0;
                        }

                        100% {
                            stroke-dashoffset: -100;
                        }
                    }

                    .am-weather-rain-1 {
                        -webkit-animation-name: am-weather-rain;
                        -moz-animation-name: am-weather-rain;
                        -ms-animation-name: am-weather-rain;
                        animation-name: am-weather-rain;
                        -webkit-animation-duration: 8s;
                        -moz-animation-duration: 8s;
                        -ms-animation-duration: 8s;
                        animation-duration: 8s;
                        -webkit-animation-timing-function: linear;
                        -moz-animation-timing-function: linear;
                        -ms-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        -moz-animation-iteration-count: infinite;
                        -ms-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        animation-play-state: paused;
                    }


                    .am-weather-rain-2 {
                        -webkit-animation-name: am-weather-rain;
                        -moz-animation-name: am-weather-rain;
                        -ms-animation-name: am-weather-rain;
                        animation-name: am-weather-rain;
                        -webkit-animation-delay: 0.25s;
                        -moz-animation-delay: 0.25s;
                        -ms-animation-delay: 0.25s;
                        animation-delay: 0.25s;
                        -webkit-animation-duration: 8s;
                        -moz-animation-duration: 8s;
                        -ms-animation-duration: 8s;
                        animation-duration: 8s;
                        -webkit-animation-timing-function: linear;
                        -moz-animation-timing-function: linear;
                        -ms-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        -moz-animation-iteration-count: infinite;
                        -ms-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        animation-play-state: paused;
                    }

                    .rainy-normal {
                        width: 200px;
                        margin: 0 auto;
                        display: block;
                    }
                }

                &:hover .rainy {
                    animation-name: am-weather-rain;
                    animation-play-state: running;
                }

                &:hover .am-weather-rain-2 {
                    animation-play-state: running;
                }

                &:hover .am-weather-rain-1 {
                    animation-play-state: running;
                }

                .info {
                    text-align: center;

                    h1 {
                        font-size: 50px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 30px;
                        font-weight: 600;
                        color: rgb(170, 170, 170);
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 30px;
                        font-weight: 600;
                        color: rgb(170, 170, 170);
                    }
                }

                &:hover .am-weather-cloud-1 {
                    animation-play-state: running;
                }

                &:hover .am-weather-cloud-2 {
                    animation-play-state: running;
                }

                &:hover .am-weather-sun {
                    animation-play-state: running;
                }

                &:hover .am-weather-sun-shiny line {
                    animation-play-state: running;
                }

                &:hover .am-weather-cloud-2 {
                    animation-play-state: running;
                }

            }
        }
    }
}

.cardElement1 {
    opacity: 0;
    transition: opacity 1s;
}

.cardElement2 {
    opacity: 0;
    transition: opacity 1s;
}

.cardElement1.active {
    transition: opacity 1s;
    opacity: 1;
}

.cardElement2.active {
    transition: opacity 1s;
    opacity: 1;
}